html, body {
  height: 100%;
  font-family: Arial, helvetica, sans-serif;
  line-height: 1.4;
}

.card-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #1c1e22;
  border-radius: 20px;
  width: 20em;
  height: 20em;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  text-align: center;
}

.title {
  padding: 5%;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  height: 20%;
}

.button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 7%;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.button:hover, .button:focus {
  color: #fff;
  outline: 0;
  background-position: 0;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-item {
  margin: 1%;
  margin-top: auto;
  margin-bottom: auto;
}

.header-image {
  width: 10%;
}

.header-title {
  width: 75%;
}

.refresh {
  color: #e74c3c;
  font-size: 1em;
  height: 10%;
}

.hide {
  display: none;
}
.copy-container {
  height: 50%;
}

.center {
  text-align: center;
}

.placeholder {
  margin-left: auto;
  margin-right: auto;
}